#account_circle {
  font-size: 40px;
}

#lock {
  font-size: 40px;
}

input#login_id[type="email"],
input#login_password[type="password"] {
  width: 100%;
  padding: 10px 50px;
}

.gradiant-text {
  /* -webkit-background-clip: text;
  @apply bg-gradient-to-t from-[#FC8178] via-[#FA9E97] to-[#F8C7C3] text-transparent; */
  overflow: hidden;
  border-right: 2px solid #F8C7C3;
  animation: typing-text steps(40) 3s infinite, blink linear 0.1s infinite;
  text-wrap: wrap;
  display: inline-block;
  width: max-content;
  width: 0;
}

@keyframes typing-text {
  from {
    width: 0%;
  }

  to {
    width: 660px;
  }
}

@keyframes typing-text {
  50% {
    border-color: transparent;
  }
}